

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

/*------------------------------------------Header-------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto", sans-serif;
  background-color: #ffc758;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* para estender o body até o final da viewport */
  position: relative; /* para ajustar o posicionamento do rodapé */
}

header {
  padding: 20px;
  background-color: rgba(38, 50, 56, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* para ajustar o posicionamento do rodapé */
  width: 100%;
}

header img {
  position: relative;
  margin-left: 150px;
  width: 30%;
  border-radius: 25px;
}
/*------------------------------------------menu-------------------------------------*/
ul {
  list-style: none;
  background-color: rgba(38, 50, 56, 1);
  margin-right: 60px;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 10px 50px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
ul li button {
  border: none;
  background-color: rgba(38, 50, 56, 1);
  display: block;
  padding: 10px 50px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: 100%;
  background: rgba(38, 50, 56, 1);
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover, button:hover {
  cursor: pointer;
  background: #ffa800;
}

ul li:hover ul.dropdown {
  display: block;
}
/*------------------------------------conteudo da pagina----------------------------*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}



.box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #888;
  padding: 20px;
  margin: 20px 0px;
}

#saida,
.questao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.linha-enunciado {
  display: flex;
  text-align: justify;
}

.linha-alternativa {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.item-alternativa {
  display: flex;

  margin-right: 30px;
}

label {
  font-size: 16px;
  margin-left: 5px;
}

input {
  width: 18px;
  height: 18px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.botao {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(38, 50, 56, 1);
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffa800;
}

.botao:hover {
  background-color: #ffa800;
  color: black;
  cursor: pointer;
}

.botao-lgn{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(38, 50, 56, 1);
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffa800;
  width: 30%;
}

.botao-lgn:hover{
  background-color: #ffa800;
  color: black;
  cursor: pointer;
}

/*------------------------------------------rodapé---------------------------------*/

footer {
  color: #ffa800;
  padding: 20px;
  background-color: rgba(38, 50, 56, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  position: relative;
}
footer div a {
  text-decoration: none;
  color: #ffa800;
}
.github-footer {
  display: flex;
  align-items: center;
}




@media (max-width: 995px) {
  header{
    flex-direction: column;
  }
  header img{
    margin-left: auto;
  }
  ul{
    margin: auto auto auto auto;
  }
}
